<div [@routerTransition]>
    <app-page-header [heading]="'Inicio'" [dependencia]='[organigrama]' [icon]="'fa-edit'"></app-page-header>
    <!--<h2 class="text-muted">
        <small> {{organigrama.descripcion}}</small>
    </h2>-->
    <!--<div class="row">
        <div class="col-md-12">
            <ngb-carousel>
                <ng-template ngbSlide *ngFor="let slider of sliders">
                    <img class="img-fluid mx-auto d-block" [src]="slider.imagePath" alt="Random first slide" width="100%">
                    <div class="carousel-caption">
                        <h3>{{slider.label}}</h3>
                        <p>{{slider.text}}</p>
                    </div>
                </ng-template>
            </ngb-carousel>
        </div>
    </div>-->
    <hr>
    <div class="row">
        <div class="col-xl-3 col-lg-6">

            <app-stat [bgClass]="claseExpOfi()" [icon]="'fa-archive'" [count]="estadistica.expedientes_en_oficina" [label]="'Expedientes en su     Oficina'"></app-stat>
        </div>
        <div class="col-xl-3 col-lg-6">
            <app-stat [bgClass]="claseExpSinRecOtraOfi()" [icon]="'fa-arrow-right'" [count]="estadistica.exp_sin_rec_en_otra_ofi" [label]="'Exp. con pases a Otra Oficina sin Recepción '"></app-stat>
        </div>
        <div class="col-xl-3 col-lg-6">
            <app-stat [bgClass]="claseExpSinRecMiOfi()" [icon]="'fa-arrow-left'" [count]="estadistica.exp_sin_rec_en_mi_ofi" [label]="'Exp. con pases a Su Oficina sin Recepción'"></app-stat>
        </div>
        <div class="col-xl-3 col-lg-6">
            <app-stat [bgClass]="claseExpSolOtraOfi()" [icon]="'fa-file-archive-o'" [count]="estadistica.exp_sol_por_otra_ofi" [label]="'Exp. solicitados por Otra Oficina'"></app-stat>
        </div>
    </div>
    <hr />
    <!--<ngb-alert [type]="alert.type" (close)="closeAlert(alert)" *ngFor="let alert of alerts">{{ alert.message }}</ngb-alert>
    <hr />-->
    <div class="row">
        <div class="col-lg-12">
            <div class="card-header">
                <i class="fa fa-clock-o fa-fw"></i> Expedientes Más Antiguos en Oficina
            </div>
            <div class="card-body">
                <table class="table table-sm">
                    <thead>
                        <tr>
                            <th style="width: 4.166%">Prefijo</th>
                            <th style="width: 8.33%">Nro</th>
                            <th style="width: 4.166%">Año</th>
                            <th style="width: 8.33%">Extensión</th>
                            <th style="width: 14%">F.Ingreso</th>
                            <th style="width: 6%">Días Of</th>
                            <th>Extracto</th>
                            <th></th>
                        </tr>
                    </thead>

                    <tbody *ngFor="let expediente of pagedItems">
                        <tr>
                            <th scope="row">{{ expediente.prefijo }}</th>
                            <th scope="row">{{ expediente.numero }}</th>
                            <th scope="row">{{ expediente.anio }}</th>
                            <th scope="row">{{ expediente.extension }}</th>
                            <td>{{ formatDate(expediente.fecha_ingreso,2) }}</td>
                            <td>{{ expediente.dias_oficina }}</td>
                            <td>{{ expediente.estracto }}</td>
                            <td>
                                <button (click)="verExpediente(expediente)" type="button" class="btn btn-default" aria-label="Left Align">
                                    <span class="fa fa-eye fa-lg" aria-hidden="true"></span>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <!-- pager -->
                <nav aria-label="Expedientes" *ngIf="pager.pages && pager.pages.length">
                    <ul class="pagination pagination-sm justify-content-center">
                        <li class="page-item" [ngClass]="{disabled:pager.currentPage === 1}">
                            <a class="page-link" (click)="setPage(1)">&lt;&lt;</a>
                        </li>
                        <li class="page-item" [ngClass]="{disabled:pager.currentPage === 1}">
                            <a class="page-link" (click)="setPage(pager.currentPage - 1)">&lt;</a>
                        </li>
                        <li class="page-item" *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
                            <a class="page-link" (click)="setPage(page)">{{page}}</a>
                        </li>
                        <li class="page-item" [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                            <a class="page-link" (click)="setPage(pager.currentPage + 1)">&gt;</a>
                        </li>
                        <li class="page-item" [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                            <a class="page-link" (click)="setPage(pager.totalPages)">&gt;&gt;</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="col-lg-12">
            <div class="card-header">
                <i class="fa fa-bell fa-fw"></i> Expedientes Sin Recepción en Mi Oficina</div>
            <div class="card-body table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th style="width: 4.166%">Prefijo</th>
                            <th style="width: 8.33%">Nro</th>
                            <th style="width: 4.166%">Año</th>
                            <th style="width: 8.33%">Extensión</th>
                            <th style="width: 14%">F.Pase</th>
                            <th>Extracto</th>
                            <th></th>
                        </tr>
                    </thead>

                    <tbody *ngFor="let expediente of expedientessinrecibir">
                        <tr>
                            <th scope="row">{{ expediente.prefijo }}</th>
                            <th scope="row">{{ expediente.numero }}</th>
                            <th scope="row">{{ expediente.anio }}</th>
                            <th scope="row">{{ expediente.extension }}</th>
                            <td>{{ formatDate(expediente.fecha_pase,2) }}</td>
                            <td>{{ expediente.estracto }}</td>
                            <td>
                                <button (click)="verExpediente(expediente)" type="button" class="btn btn-default" aria-label="Left Align">
                                    <span class="fa fa-eye fa-lg" aria-hidden="true"></span>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-lg-12">
            <div class="card-header">
                <i class="fa fa-bell fa-fw"></i> Expedientes enviados a Otra Oficina Sin Recepción</div>
            <div class="card-body table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th style="width: 4.166%">Prefijo</th>
                            <th style="width: 8.33%">Nro</th>
                            <th style="width: 4.166%">Año</th>
                            <th style="width: 8.33%">Extensión</th>
                            <th style="width: 14%">F.Pase</th>
                            <th>Extracto</th>
                            <th></th>
                        </tr>
                    </thead>

                    <tbody *ngFor="let expediente of expedientessinrecepcion">
                        <tr>
                            <th scope="row">{{ expediente.prefijo }}</th>
                            <th scope="row">{{ expediente.numero }}</th>
                            <th scope="row">{{ expediente.anio }}</th>
                            <th scope="row">{{ expediente.extension }}</th>
                            <td>{{ formatDate(expediente.fecha_pase,2) }}</td>
                            <td>{{ expediente.estracto }}</td>
                            <td>
                                    <button (click)="verExpediente(expediente)" type="button" class="btn btn-default" aria-label="Left Align">
                                        <span class="fa fa-eye fa-lg" aria-hidden="true"></span>
                                    </button>
                                </td>                                
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>